.services-page {
  color: var(--cd-green);
  text-align: center;
}

.services-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  display: inline-flex;
  flex-direction: row;
}

.offerings-list {
  text-align: left;
}
