.project-page {
  color: var(--cd-green);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-content h2 {
  color: var(--cd-light);
}

.project-item-wrapper {
  margin: 2rem;
  text-align: center;
  align-items: center;
  align-content: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  display: inline-flex;
  flex-direction: row;
}

.project-content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  float: left;
  margin: auto;
  width: 200px;
  height: 200px;
}

.project-img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  float: right;
}

.project-img img {
  width: 200px;
  height: 200px;
}

.twitter-link {
  color: #72d1f2;
}

.project-description {
  width: 40%;
  margin: auto;
  padding: 1rem;
}
