.hero-page {
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 60rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.hero-img {
  height: 500px;
  align-content: center;
}

.hero-text {
  color: var(--cd-light);
  font-size: 1.5rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
  align-items: center;
  align-content: center;
}

.project-btn {
  display: inline-block;
  width: 200px;
  display: inline-block;
  text-align: center;
  background-color: var(--cd-green);
  border-radius: 0px;
  padding: 12px 25px;
  color: black;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.project-btn:hover {
  background-color: var(--cd-dark);
  color: var(--cd-green);
  border: 1px solid var(--cd-green);
}
